h1
{
    color: black;
	text-align:center;

}


html
{
font-family: 'Roboto', sans-serif;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(222,255,0,1) 66%); 
}

image{
text-align: right;

}

