h1
{
    color: black;
	text-align:center;

}


html
{
font-family: 'Roboto', sans-serif;
color:white;
}

image{
text-align: right;

}

body{
    background-image: url("image site pp.jpg") ;
}
